.container {
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(107.56deg, rgba(0, 0, 0, 0.2) 0%, rgba(174, 174, 174, 0.08125) 51.73%, rgba(192, 192, 192, 0) 100%), rgba(29, 29, 29, 0.94);
}

.body {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 250px;
  text-align: center;
}

.intro-title {
  font-size: 30px;
  color: white;
  font-family: 'IBM Plex Mono', monospace;
  margin-top: 50px;
  margin-bottom: 50px;
}