.login-container {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  text-align: center;
  font-family: 'IBM Plex Mono', monospace;
}

.login-logo {
  width: 100px;
  height: 65px;
  margin-bottom: 20px;
}

.login-title {
  font-size: 50px;
  color: #EFF4F5;
  margin-bottom: 40px;
  font-weight: 900;
}

.login-form h3 {
  text-align: left;
  font-weight: bold;
  font-size: 19px;
  color: #EFF4F5;
  font-weight: 900;
}

.login-form input{
  display: block;
  width: 500px;
  height: 50px;
  background-color: #1d1d1d;
  border: none;
  border-bottom: #EFF4F5 1px solid;
  margin-bottom: 40px;
  color: #8F8F8F;
  font-size: 20px;
}

.login-form button {
  margin-top: 60px;
  width: 500px;
  height: 60px;
  background-color: #fff;
  color: #8F8F8F;
  font-size: 25px;
  font-weight: 900;
}

.login-form button:hover {
  cursor: pointer;
}

.login-social {
  margin-top: 335px;
  color: gray;
  font-size: 15px;
  font-weight: 900;
}

.login-icons {
  margin-top: 35px;
  width: 500px;
  padding-left: 85px;
  padding-right: 85px;
}

.login-icons li {
  float: left;
  padding-left: 25px;
  padding-right: 25px;
}

.login-icons button {
  width: 60px;
  height: 60px;
  background-color: #1d1d1d;
  border: none;
}

.login-icons button:hover {
  cursor: pointer;
}


