/* css 초기화 */
@import '../reset.css';
/* font */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');


.navbar-container {
  border-bottom: #EFF4F5 solid 2px;
  /* navbar 최상단 고정 및 z-index 최상위 */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: #1d1d1d;
}

.intro-navbar {
  margin-left: calc(10% + 40px);
  margin-right: calc(10% + 40px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.navbar-helper {
  display: flex;
  width: 33%;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.navbar .main-navbar-logo {
  display: flex;
  width: 33%;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  font-size: 24px;
  color: white;
}

.navbar-title {
  font-size: 60px;
  color: white;
  width: 33%;
  display: flex;
  justify-content: center;
  font-family: 'IBM Plex Mono', monospace;
}

.navbar-submit {
  width: 33%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.main-link{
  display: flex;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  color: #ffffff;
  text-decoration: none;
  font-family: 'IBM Plex Mono', monospace;
}