/* css 초기화 */
@import '../reset.css';
/* font */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');


.navbar-container {
  border-bottom: #EFF4F5 solid 2px;
  /* navbar 최상단 고정 및 z-index 최상위 */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: #1d1d1d;
}

.navbar {
  margin-left: 15%;
  margin-right: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.navbar-helper {
  display: flex;
  width: 33%;
  justify-content: left;
}

.navbar .main-navbar-logo {
  display: flex;
  width: 33%;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  font-size: 24px;
  color: white;
  font-family: 'IBM Plex Sans KR';
}


.navbar-menu {
  display: flex;
  width: 33%;
  justify-content: flex-end;
  list-style: none;
  padding-left: 0px;
}

.hidden {
  display: none;
}

.icon-list{
  margin-left: 60px;
}

#search-icon {
  padding-top: 10px;
}

#mypage-icon {
  width: 35px;
  height: 45px;
}

form {
  height: 40px;
}

input:focus {
  outline: none;
}

#search-bar {
  height: 40px;
  width: 250px;
  margin-right: 3px;
  padding-bottom: 0px;
  padding-right: 10px;
  color:#EFF4F5;
  background-color: #1d1d1d;
  border-top: none;
  border-left: none;
  border-right: none;
  vertical-align: text-bottom;
}

.search-btn {
  background-color: #1d1d1d;
  border: none;
  padding: 0;
  height: 40px
}
