.survey-movie, .survey-person {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie-container, .person-container {
    width: 200px;
    margin: 16px;
    background-color: #373b69;
    color: white;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

.movie-container img, .person-container img {
    max-width: 100%;
}

.movie-info, .person-info {
    display: flex;
    font-size: 15px;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    
}

.movie-info h4, person-info h4 {
    margin: 0;
}

.movie-info span {
    margin-left: 3px;
}

.menuBar-wrap{
    height: 40px;
    max-width: 1400px;
    margin: 0 4%;

    display: flex;
    align-items: center;
}

.menuBar{
    display: flex;
    width: 100%;
}

.menuBar ul{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.movieTab, .personTab{
    width:80px;
    text-align: center;
    color: white;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
}

.hiddenTab {
    width:80px;
    text-align: center;
    color: gray;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
}